@font-face {
  font-family: Montserrat;
  src: url(./static/Montserrat-Regular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(./static/Montserrat-Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url(./static/Montserrat-Medium.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url(./static/Montserrat-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: Open-sans;
  src: url(./static/Montserrat-Light.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
